<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FT News Barcode [Beta]</title>
    <meta name="description" content="Grabs a selection of FT article images and squashes them into one image, look similar to a colourful barcode">
    <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-syntax-highlight@^1.5.2,o-buttons@^5.10.3,o-grid@^4.4.4,o-forms@^5.2.4,o-tabs@^4.2.0,o-layout@^2.2.5&brand=internal">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="o-layout" data-o-component="o-layout">
      <header class="o-header-services o-layout__header" data-o-component="o-header">

        <div class="o-header-services__top o-header-services__container">
          <div class="o-header-services__ftlogo labs"></div>
          <div class="o-header-services__title">
            <h1 class="o-header-services__product-name">
              <a href="/">Barcode</a>
            </h1>
            <span class="o-header-subrand__product-tagline">Generator</span>
          </div>
        </div>

        <nav class="o-header-services__primary-nav">
          <div class="o-header-services__container">
            <ul class="o-layout__primary-nav o-header-services__nav-list">
              <li class="o-header-services__nav-item">
                <a class="o-header-services__nav-link o-header-services__nav-link--selected" href="/">
                  Generator
                </a>
              </li>
            </ul>
          </div>
        </nav>

      </header>

      <div class="o-layout__sidebar">
        <p>
          Repeat requests are cached.
        </p>
        <p>
          <b>Please note, during this beta phase initial requests for images may be slower.</b>
        </p>
        <p>
          Example image URL:
        </p>
        <p>
          <a target="_blank" href="/barcode?&dateFrom=2018-11-13&dateTo=2018-11-14&orientation=v&fit=fill&order=colour&sort=asc">/barcode?dateFrom=2018-11-13&amp;dateTo=2018-11-14&amp;orientation=v&amp;fit=fill&amp;order=colour&amp;sort=asc</a>
        </p>
      </div>

      <div class="o-layout__main" data-o-component="o-syntax-highlight">

        <h2>URL Generator</h2>

        <div class="o-grid-container o-grid-container--bleed">
          <div class="o-grid-row o-grid-row--compact">
            <div id="url-box" class="url-box">
              <a id="queryBuilderLink" target="_blank" href="">/barcode</a>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="6">
              <div class="o-forms">
                <label for="width" class="o-forms__label">Width</label>
                <small class="o-forms__additional-info">
                  <i>(default 1024)</i>
                </small>
                <input type="number" id="width" name="width" min="100" max="3000" placeholder="1024" value="1024" class="o-forms__text">
              </div>
            </div>
            <div data-o-grid-colspan="6">
              <div class="o-forms">
                <label for="height" class="o-forms__label">Height</label>
                <small class="o-forms__additional-info">
                  <i>(default 768)</i>
                </small>
                <input type="number" id="height" name="height" min="100" max="3000" placeholder="768" value="768" class="o-forms__text">
              </div>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="6">
              <div class="o-forms">
                <label for="dateFrom" class="o-forms__label">Date From</label>
                <small class="o-forms__additional-info">
                  yyyy/mm/dd format- (default yesterdays date)
                </small>
                <input type="date" id="dateFrom" name="dateFrom" min="2018-01-01" value="2018-11-13" class="o-forms__text">
              </div>
            </div>
            <div data-o-grid-colspan="6">
              <div class="o-forms">
                <label for="timeFrom" class="o-forms__label">Time From</label>
                <small class="o-forms__additional-info">
                  hh/mm format- (default 00:00)
                </small>
                <input type="time" id="timeFrom" name="timeFrom" min="00:00" max="23:59" placeholder="00:00" value="00:00" class="o-forms__text">
              </div>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="6">
              <div class="o-forms">
                <label for="dateTo" class="o-forms__label">Date To</label>
                <small class="o-forms__additional-info">
                  yyyy/mm/dd format- (default todays date)
                </small>
                <input type="date" id="dateTo" name="dateTo" min="2018-01-01" value="2018-11-14" class="o-forms__text">
              </div>
            </div>
            <div data-o-grid-colspan="6">
              <div class="o-forms">
                <label for="timeTo" class="o-forms__label">Time To</label>
                <small class="o-forms__additional-info">
                  hh/mm format- (default 00:00)
                </small>
                <input type="time" id="timeTo" name="timeTo" min="00:00" max="23:59"  placeholder="00:00" value="00:00" class="o-forms__text">
              </div>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="12">
              <fieldset class="o-forms o-forms--wide">
                <legend class="o-forms__label">Orientation</legend>
                <small class="o-forms__additional-info">
                  Stacks images horizontally or vertically (<i>vertically by default</i>)
                </small>
                <div class="o-forms__group o-forms__group--inline">
                  <input type="radio" id="orientation-vertical" name="orientation" value="v" class="o-forms__radio" checked="">
                  <label for="orientation-vertical" class="o-forms__label">vertical</label>
                  <input type="radio" id="orientation-horizontal" name="orientation" value="h" class="o-forms__radio">
                  <label for="orientation-horizontal" class="o-forms__label">horizontal</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="12">
              <fieldset class="o-forms o-forms--wide">
                <legend class="o-forms__label">Fit</legend>
                <small class="o-forms__additional-info">
                  Gets images as masks, squashed or solid colours - <i>(fill default)</i>
                </small>
                <div class="o-forms__group o-forms__group--inline">
                  <input type="radio" id="fit-fill" name="fit" value="fill" class="o-forms__radio" checked="">
                  <label for="fit-fill" class="o-forms__label">fill</label>
                  <input type="radio" id="fit-cover" name="fit" value="cover" class="o-forms__radio">
                  <label for="fit-cover" class="o-forms__label">cover</label>
                  <input type="radio" id="fit-solid" name="fit" value="solid" class="o-forms__radio">
                  <label for="fit-solid" class="o-forms__label">solid</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="12">
              <fieldset class="o-forms o-forms--wide">
                <legend class="o-forms__label">Order</legend>
                <small class="o-forms__additional-info">
                  Display order of images - <i>(colour default)</i>
                </small>
                <div class="o-forms__group o-forms__group--inline">
                  <input type="radio" id="order-colour" name="order" value="colour" class="o-forms__radio" checked="">
                  <label for="order-colour" class="o-forms__label">colour</label>
                  <input type="radio" id="order-published" name="order" value="published" class="o-forms__radio">
                  <label for="order-published" class="o-forms__label">published</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="12">
              <fieldset class="o-forms o-forms--wide">
                <legend class="o-forms__label">Sort</legend>
                <small class="o-forms__additional-info">
                  Sort order by asc or desc - <i>(asc default)</i>
                </small>
                <div class="o-forms__group o-forms__group--inline">
                  <input type="radio" id="sort-asc" name="sort" value="asc" class="o-forms__radio" checked="">
                  <label for="sort-asc" class="o-forms__label">ascending</label>
                  <input type="radio" id="sort-desc" name="sort" value="desc" class="o-forms__radio">
                  <label for="sort-desc" class="o-forms__label">descending</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="o-grid-row o-grid-row--compact">
            <div data-o-grid-colspan="12">
              <button type="submit" id="btn-view-barcode" class="o-buttons o-buttons--standout">View barcode</button>
            </div>
          </div> 
        </div>
      </div>

      <footer class="o-layout__footer o-footer-services">
        <div class="o-footer-services__container">
          <div class="o-footer-services__wrapper o-footer-services__wrapper--top">
            <p class="o-footer-services__logo">Barcode</p>
            <a class="o-footer-services__icon-link o-footer-services__icon-link--github" href="https://github.com/ftlabs/barcode">View project on GitHub</a>
          </div>
        </div>
        <div class="o-footer-services__container">
          <div class="o-footer-services__wrapper o-footer-services__wrapper--legal">
            <div class="o-footer-services__links">
            <a href="http://help.ft.com/help/legal-privacy/cookies/">Cookies</a>
            <a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/">Copyright</a>
            <a href="http://help.ft.com/help/legal-privacy/privacy/" class="o-footer-services__bulletted-link">Privacy</a>
            <a href="http://help.ft.com/help/legal-privacy/terms-conditions">Terms &amp; Conditions</a>
          </div>
          <p><span>&#xA9; THE FINANCIAL TIMES LTD 2018.</span> FT and &apos;Financial Times&apos; are trademarks of The Financial Times Ltd.</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
