<h1>FT News Barcode</h1>

<h2>API URL generator</h2>

<h2>Endpoints for Articles</h2>

<p>
  GET /barcode?width=&height=&dateFrom=&dateTo=, returns Image
  <br />
  e.g. <a href="/barcode?width=1024&height=768&dateFrom=1542021000&dateTo=1542107460">/barcode?width=1024&height=768&dateFrom=1542021000&dateTo=1542107460</a>
</p>
