body {
  background: #fff1e5;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.o-grid-container--bleed {
  margin: 0;
}

.o-layout__sidebar {
  word-break: break-word;
}

.o-header-services__ftlogo.labs {
  background-image: url("../img/ftlabs-icon.png");
  width: 24px;
  height: 32px;
}

.url-box {
  display: block;
  width: 100%;
  background: #f2f2f2;
  padding: 20px;
  margin-bottom: 15px;
}